
.deleteBtn, .changePic, .cancelBtn  {
    background-color: #f7A8AE;
    border: none;
}

#form-popup {
    display: none;
}

#delImg_btn {
    display: none;
}

.deleteBtn{
    width: 30px;
    height: 30px;
}

.changePic{
    width: 150px;
}

.cancelBtn{
    width: 100px;
}

